<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>

    <div class="container">
        <nav>
            <div class="left">
                Razor
            </div>
            <div class="right">
                <i class="ri-global-line"></i>
                <h4>Sign Up</h4>
                <button>Request Demo</button>
            </div>
        </nav>
        <main>
            <form action=""></form>
        </main>
    </div>

</body>
</html>